aniso8601==6.0.0
astroid==2.4.2
Click==7.0
colorama==0.4.4
Flask==1.0.3
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.6.0
toml==0.10.2
Werkzeug==0.15.5
wrapt==1.12.1
